## Ignora os arquivos e pastas denecessários para subida ao repositório do git conforme descrições abaixo

## Ignora arquivo verifica browser
browserslist

## Ignora arquivo da descrição da criação do repositório no git
*.md

## Ignora pasta de configuração do visual studio code
.vscode

## Ignora pasta de configuração do visual studio code
node_modules
