/** No CSS for this example */


/*
.mat-tab-group:hover {
    text-decoration: underline;
    color: #000;
    background: #FFFF00;
}

.mat-tab-header:hover {
    text-decoration: underline;
    color: #000;
    background: #FF8C00;
}
*/